{% extends 'usuario/usuariobase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron">

        <div class="row">

            <div class="card border-primary mx-4 my-4">
                <div class="card-body text-default">

                    <h4 class="card-title">Detalles del Cuestionario :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Nombre: {{cuestionario.nombre_cuestionario}}</li>
                            <li>Total de Preguntas: {{numero_preguntas}}</li>
                            <li>Puntaje Máximo: {{puntaje_maximo}}</li>
                            <li>Descripción: {{cuestionario.descripcion_cuestionario}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title">Reglas:</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Todas las preguntas son de opción múltiple</li>
                            <li><span class="text-danger">Solo hay UNA opción correcta.</span></li>
                            <li>Cada pregunta tiene su propio puntaje.</li>
                            <li>Si recargas o retrocedes la página, se te asignara una nueva pregunta y la pregunta donde estabas se contara como un intento.</li>
                            <li>El orden de las preguntas es aleatorio.</li>
                            <li>Seras capaz de ver las respuestas inmediatamente tras terminar el cuestionario.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-cuestionario' cuestionario.id  %}" class="btn btn-primary btn-lg" style="border-radius:0px;">Comenzar Quiz</a>
                </div>  
                <div class="card-footer">Buenas suerte, historiador!</div>  
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}